<h1>Listado de heroes</h1>

<mat-divider></mat-divider>
<br />

<!-- wrap de cuando ya no quepan salte a la siguiente linea -->
<!-- xs = cuando la pantalla es muy pequena -->
<div
  fxLayout="row wrap "
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="20px"
>
  <!-- fxflex.lg = para poner los breakpoints a lo largo -->
  <!-- sm: de pequeno breakpoint  -->
  <div fxFlex="20" fxFlex.lg="15" fxFlex.sm="30" *ngFor="let hero of heroes">

    <app-hero-card [heroesInput]="hero" ></app-hero-card>
  
  </div>
</div>
