<div class="text-layout">
  <h1>Pipes Personalizados</h1>
  <p>Pipes creados por {{ "nosotros" | mayusculas: valorMayusculas }}</p>

  <p-toolbar>
    <div class="p-toolbar-group-left"></div>

    <div class="p-toolbar-group-right">
      <button
        pButton
        type="button"
        label="Change Value"
        class="p-button-warning mr-1"
        icon="pi pi-check-circle "
        (click)="changeValue()"
      ></button>
      <!--  -->
      <button
        pButton
        icon="pi pi-sort"
        label="Ordenar por nombre"
        class="mr-1"
        (click)="ordenarNombres('nombre')"
      ></button>
      <!--  -->
      <button
        pButton
        icon="pi pi-sort"
        label="Vuela"
        class="mr-1 p-button-success"
        (click)="ordenarNombres('vuela')"
      ></button>
      <!--  -->
      <button
        pButton
        icon="pi pi-sort"
        label="Por color"
        class="mr-1 p-button-danger"
        (click)="ordenarNombres('color')"
      ></button>
    </div>
  </p-toolbar>

  <div class="grid mt-2">
    <div class="col">
      <p-table [value]="heroes | ordenar: ordenarString">
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Vuela</th>
            <th>Color</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hero>
          <tr>
            <td>{{ hero.nombre }}</td>
            <td>{{ hero.vuela | vuela | titlecase }}</td>
            <td>{{ hero.color }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <hr />

  <!-- Table Sort -->
  <div class="grid mt-2">
    <div class="col">
      <!-- slices es para mandarle una copia y no me modifique el objeto original -->
      <p-table [value]="heroes | slice: 0">
        <ng-template pTemplate="header">
          <tr>
            <!-- pSortableColumn="nombre" debe hacer match con las propiedades cque tengo -->
            <th pSortableColumn="nombre">
              Nombre <p-sortIcon field="code"></p-sortIcon>
            </th>
            <th pSortableColumn="vuela">
              Vuela <p-sortIcon field="code"></p-sortIcon>
            </th>
            <th pSortableColumn="color">
              {{ "color" | titlecase }} <p-sortIcon field="code"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hero>
          <tr>
            <td>{{ hero.nombre }}</td>
            <td>{{ hero.vuela | vuela | titlecase }}</td>
            <td>{{ hero.color }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
