<div class="animate__animated animate__fadeIn animate__bounceInDown">
  <h2>Por Capital</h2>
  <hr />
</div>

<div class="row">
  <div class="col">
    <app-pais-input
      (onEnter)="buscarCapital($event)"
      placeholder="Buscar Capital..."
    ></app-pais-input>
  </div>
</div>

<hr />

<div class="alert alert-danger" *ngIf="error">
  Informacion no encontrada: {{ terminoCap }}
</div>

<div *ngIf="paisescapital.length > 0" class="row">
  <div class="col">
    <app-pais-table [paisesInput]="paisescapital"></app-pais-table>
  </div>
</div>
