<div class="text-layout">
  <app-menu></app-menu>
  <router-outlet></router-outlet>
</div>

<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>
  <button
    pButton
    class="p-button-help"
    icon="pi pi-check"
    iconPos="right"
    (click)="mostrarName()"
    label="Change Name"
  ></button>

  <p-card [header]="nombre | titlecase" subheader="Es un subheader">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis deleniti
    totam pariatur voluptas ipsum similique? Excepturi ab nesciunt
    necessitatibus velit voluptatibus, culpa dolorem molestias deleniti illum,
    pariatur illo quos ullam! Consectetur facere qui odit delectus soluta ad,
    officiis, eum debitis ipsam ipsum doloremque deleniti ab non eveniet aut,
    quam excepturi unde modi quidem laudantium ratione nemo! Quam obcaecati
    pariatur fugiat.

    <ng-template pTemplate="footer"> Footer card </ng-template>
  </p-card>
</div> -->
